<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Speech overlay for OBS Studio</title>
    <link rel="stylesheet" href="static/css/obs-speech-overlay.css">
  </head>
  <body>
    <!-- OBS speech overlay test. -->
    <div id="subtitle-wrapper-all">
      <div id="translated-subtitle" class="subtitle-wrapper">
        <div id="history-translated" class="text-container history-text">
          <!-- history of translated texts -->
        </div>
        <div id="latest-translated-text" class="text-container latest-text">
          <!-- Latest translated text -->
        </div>
      </div>
      <div id="recog-text-subtitle" class="subtitle-wrapper">
        <div id="history-recog-text" class="text-container history-text">
          <!-- history of recognition texts are displayed here. -->
        </div>
        <div id="latest-recog-text" class="text-container latest-text"><span id="latest-recog-interim" class="interim"></span><span id="latest-recog-final" class="final">...</span></div>
        <!-- latest recognition texts that are final or interim are displayed here. -->
        </div>
      </div>
    </div>
    <script type="module" src="/static/js/obs-speech-overlay/obs-speech-overlay.js"></script>
  </body>
</html>
